{% extends 'base.html.twig' %}

{% block title %}
  AUVT | الفريق التنفيذي 
{% endblock %}

{% block body %}
<div class="container-fluid about_titer">
    <h1 class="display-3 text-center text-light pt-5">الفريق التنفيذي</h1>
</div>
<div class="container text-center col-xl-10 mx-auto my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/pdg.jpeg')}}" width="200" alt="م.مكارم علي الجحدلي">
            <p class="mt-3 mx-auto about_name">الرئيس التنفيذي</p>
            <p class="mx-auto">م.مكارم علي الجحدلي</p>
            <a href="https://www.linkedin.com/in/makaremaljhdali/" target="blanc"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/vice_presid_mta.jpg')}}" width="200" alt="د.مجدي طلال أمين">
            <p class="mt-3 mx-auto about_name">نائب الرئيس التنفيذي</p>
            <p class="mx-auto">د.مجدي طلال أمين</p>
            <a href="#" target="blanc"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/adjoint_aj.jpeg')}}" width="200" alt="م.علي جبلي">
            <p class="mt-3 mx-auto about_name">مساعد الرئيس التنفيذي</p>
            <p class="mx-auto">م.علي جبلي</p>
            <a href="https://www.linkedin.com/in/alijabali/" target="blanc"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/carre.jpg')}}" width="200" alt="">
            <p class="mt-3 mx-auto about_name">مدير المشاريع</p>
            <p class="mx-auto">د.حنين القثامي</p>
            <a href="#"><i class="bi bi-linkedin" target="blanc"></i></a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/gestionnaire_maq.jpeg')}}" width="200" alt="م.ناصر آل قاسم">
            <p class="mt-3 mx-auto about_name">مدير التشغيل</p>
            <p class="mx-auto">م.ناصر آل قاسم</p>
            <a href="#"><i class="bi bi-linkedin" target="blanc"></i></a>
        </div>
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/carre.jpg')}}" width="200" alt="">
            <p class="mt-3 mx-auto about_name">مدير التدريب</p>
            <p class="mx-auto">م.محمد الشلوي</p>
            <a href="#"><i class="bi bi-linkedin" target="blanc"></i></a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/carre.jpg')}}" width="200" alt="">
            <p class="mt-3 mx-auto about_name">مدير العلاقات العامة</p>
            <p class="mx-auto">م.روان بخاري</p>
            <a href="#"><i class="bi bi-linkedin" target="blanc"></i></a>
        </div>
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/carre.jpg')}}" width="200" alt="">
            <p class="mt-3 mx-auto about_name">مدير المتطوعين </p>
            <p class="mx-auto">أ.محمد الجحدلي</p>
            <a href="#"><i class="bi bi-linkedin" target="blanc"></i></a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 d-flex flex-column">
            <img class="rounded-circle shadow-lg mx-auto mt-5" src="{{ asset('../uploads/direction/shahad-logo2.png')}}" width="200" alt="shahad_logo">
            <p class="mt-3 mx-auto about_name">مسؤول التصميم</p>
            <p class="mx-auto">م.شهد محمد</p>
            <a href="#"><i class="bi bi-linkedin" target="blanc"></i></a>
        </div>
    </div
</div>

{% endblock %}